@font-face {
    font-family: 'Hana';  
    src: url('./HanaleiFill-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Holt';  
    src: url('./HoltwoodOneSC.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shadow';  
    src: url('./ShadowsIntoLight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kira';  
    src: url('./KirangHaerang-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monoton';  
    src: url('./Monoton.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bungee';  
    src: url('./BungeeInline-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lond';  
    src: url('./LondrinaSketch-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jose';  
    src: url('./JosefinSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Libre';  
    src: url('./LibreBarcode39ExtendedText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Yishan';  
    src: url('./YiShanBeiZhuanTi.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maocao';  
    src: url('./LiuJianMaoCao-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}